{{!--Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"--}}
<main class="p-5">
    <h1>Hello world!!</h1>
    {{> title data="MY TITLE"}}
    <div style="color: blue; background: yellow;">
        This is text
    </div>
</main>
{{!--Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML--}}