{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section style="background:#c3efc8; color: rgb(15, 15, 72)" class="p-2">
            {{> title data = 'All skills:' big = true}}
            <ul>
                {{#each skills}}
                <li>
                    {{name}}
                    {{#if point includeZero = true}} ({{point}}) {{/if}}
                    {{#if isTop}} (top) {{/if}}
                    {{#unless point includeZero = true}} (not learning) {{/unless}}
                    {{#unless point}}
                    {{#if point includeZero = true}} (in progress...) {{/if}}
                    {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
        <section style="background:#b8d5e4; color: rgb(15, 15, 72)" class="mt-3 p-2">
            {{> title data = 'My hobbies:' big = false }}
            <ol type="A">
                {{#each hobbies}}
                <li>
                    {{name}}
                    {{#if isMain}} (favourite) {{/if}}
                </li>
                {{/each}}
            </ol>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}